<app-header></app-header>
<div class="containerize">
<div class="row">
  <div class="col-md-3">
    <app-sidebar></app-sidebar>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
  <div class="card-deck">
    <div class="card">
    <div class="card-body">
      <a class="btn bg-white btn-lg text-center text-dark rounded-1 shadow" onclick="window.location.href = 'newPatientRegistration.page'">
        <i class="fa fa-address-card"></i>
        PATIENT REGISTRATION
      </a>
    </div>
    </div>
<div class="card">
    <div class="card-body">
      <a class="btn bg-white btn-lg text-center text-dark rounded-0 shadow" onclick="window.location.href = 'newPatientRegistration.page'">
        <i class="fa fa-address-card"></i>
        APPOINTMENT SCHEDULING
      </a>
    </div>
</div><div class="card">
    <div class="card-body">
      <a class="btn bg-white btn-lg text-center text-dark rounded-0 shadow" onclick="window.location.href = 'newPatientRegistration.page'">
        <i class="fa fa-address-card"></i>
        TRIAGE
      </a>
    </div></div>

    <div class="card"><div class="card-body">
      <a class="btn bg-white btn-lg text-center text-dark rounded-0 shadow" onclick="window.location.href = 'newPatientRegistration.page'">
        <i class="fa fa-address-card"></i>
        CASHIER
      </a>
    </div></div>

    <div class="card"><div class="card-body">
      <a class="btn bg-white btn-lg text-center text-dark rounded-0 shadow" onclick="window.location.href = 'newPatientRegistration.page'">
        <i class="fa fa-address-card"></i>
        LABORATORY
      </a>
    </div></div>
  </div>
</div>
</div>
</div>
